@keyframes jump {
  0%{
    transform: translateY(0px);
  }
  10%{
    transform: translateY(-20px);
  }
  20%{
    transform: translateY(0px);
  }
  30%{
    transform: translateY(-8px);
  }
  40%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-6px);
  }
  70%{
    transform: translateY(0px);
  }
  80%{
    transform: translateY(-4px);
  }
  90%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-2px);
  }
}

.jumpText {
  animation: jump 3s infinite;
  animation-delay: 2s;  /* when the anim will start*/
}
